html {
	background-color: #3867ff;
	/* #0048ff;*/

	text-align: center;
	font-family: sans-serif;
}

.hide {
	display:none;
}

input {
	display: block;
	font-size:1.5em;
}

.pending {
	background-color: #f50000;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
}

.submitted {
	background-color: #1eff00;
}

.selected {
	background-color: #0f8000; 
}