html {
	background-color: #0048ff;
	/*#3867ff;*/
}

.hide {
	display:none;
}

.pending {
	background-color: #f50000;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
}

.submitted {
	background-color: #1eff00;
}

.selected {
	background-color: #0f8000; 
}